<div id="caishijie_lot_pk10" class="business"></div>
    <div id="csj_lot_pk10_lotmenu_s_banner" class="ad_small_banner"></div>
    <div class="clear"></div>


    <ul class="lot-menu addTopLine">
        <li>
            <a href="/pk10/" class=cur>北京赛车pk10</a>
        </li>

        <li>
            <a href="/shishicai/"  >重庆时时彩</a>
        </li>
        <li>
            <a href="/gdkl10/" >广东快乐十分</a>
        </li>
        <li>
            <a href="/jxssc/" >江西时时彩</a>
        </li>
        <li>
            <a href="/xjssc/" >新疆时时彩</a>
        </li>
        <li>
            <a href="/tjssc/" >天津时时彩</a>
        </li>
        <li>
            <a href="/gd11x5/" >广东11选5</a>
        </li>
        <li>
            <a href="/syydj/" >十一运夺金</a>
        </li>
        <li>
            <a href="/jx11x5/" >江西11选5</a>
        </li>
        <li>
            <a href="/kl8/" class="last")>快乐8</a>
        </li>
    </ul>
    <ul class="lot-menu delBottomLine" style="margin-top: 0px;">
        <li>
            <a href="/xync/" >幸运农场</a>
        </li>
        <li>
            <a href="/jsk3/" >江苏骰宝(快3)</a>
        </li>
        <li>
            <a href="/xyft/" >幸运飞艇</a>
        </li>
        <li>
            <a href="/shssl/" >上海时时乐</a>
        </li>
        <li>
            <a href="/sdc/" >圣地彩</a>
        </li>
        <li>
            <a href="/fc3d/" >福彩3D</a>
        </li>
        <li style="z-index: 1;">
            <a href="/pl3/" >排列3</a>
        </li>
    </ul>



    <ul class="lot-award">
        <li class="logo">
            <img src="/images/pk10-logo.png" alt="北京赛车pk10"/>
        </li>
        <li class="currentAward">
            <div class="title">
                最新开奖：
            </div>
            <div class="period">
            </div>
            <div class="period-info">每日<span>179</span>期，今日剩余<span class="period-leave">--</span>期</div>
            <a class="video_btn" href="/pk10/shipin/">开奖视频</a>
            <div class="lot-nums">
                <p>
                    正在加载中……<p>
            </div>
        </li>
        <li class="warnTime">
            <div class="title">
                <div id="period">&nbsp;</div>
                <div>距离下期开奖剩余</div>
            </div>
            <div class="minute"></div>
            <div class="t2">分</div>
            <div class="second"></div>
            <div class="t2">秒</div>
            <div class="sound" id="countdown_sound" title="点击关闭提醒声音"></div>
            <audio src="/images/du.mp3" id="duSound" style="display:none;"></audio>
        </li>
        <li class="navi">
            <ul>

                <li>
                    <a href="/changlong/" rel="nofollow" target="_blank">长龙统计</a>
                </li>
                <li>
                    <a href="/diaoyong/" target="_blank" style="color: Red">调用开奖结果</a>
                </li>
                <li class="pk10_newIcon">
                    <a href="/pk10/positiontrend" target="_blank">PK10号码走势图</a>
                    <span class="pk10_wen_newIcon"></span>
                </li>
                <li>
                    <a href="/pk10/downloadhistory/" target="_blank" class="down">下载历史记录</a>
                </li>
            </ul>
        </li>
    </ul>