<div class="hj_public_foot mt10">
    <div class="hj_public_foot_d">
        <div class="hj_public_foot_d1">
            <div class="leftContent">
                <i>新世界</i>
                <div class="leftContent_d">
                    <div class="lc_d">
                        <span class="lc_name">關于我們：</span>
                        <div class="lc_info">
                            <a rel="nofollow">免责声明</a>
                            <a rel="nofollow">法律声明</a>
                            <a target="_blank">帮助中心</a>
                        </div>
                        <div class="hj_public_clearBoth"></div>
                    </div>
                    <div class="lc_d">
                        <span class="lc_name">相關産品：</span>
                        <div class="lc_info">
                            <a href="/zhibo/" target="_blank">開獎直播</a>
                            <a>軟件中心</a>
                            <a>網站地圖</a>
                        </div>
                        <div class="hj_public_clearBoth"></div>
                    </div>

                    <!--<div class="lc_d">-->
                        <!--<span class="lc_name">交&nbsp;流&nbsp;群：</span>-->
                        <!--<div class="lc_info">-->
                            <!--<span>329235586</span>-->
                            <!--<span>220634190</span>-->
                            <!--<span>284202968</span>-->
                            <!--<span>98470270</span>-->
                            <!--<span>235983757<a href="http://shang.qq.com/wpa/qunwpa?idkey=87c5bcb73f504d114adcacdf867065d5f2fe749aae312b9b0a905e4956d6e3b0" rel="nofollow">加入</a></span>-->
                        <!--</div>-->
                        <!--<div class="hj_public_clearBoth"></div>-->
                    <!--</div>-->
                </div>
            </div>
        </div>

        <div class="hj_public_foot_d2">
            <div class="leftContent">
                <ul>
                    <li>
                        <span></span>
                        <p>十六年專業保證</p>
                    </li>
                    <li>
                        <span class="lc_span2"></span>
                        <p>千余員工傾力奉獻</p>
                    </li>
                    <li>
                        <span class="lc_span3"></span>
                        <p>絕對精准數據獲取</p>
                    </li>
                    <li>
                        <span class="lc_span4"></span>
                        <p>尊貴品牌服務</p>
                    </li>
                </ul>
                <div class="hj_public_clearBoth"></div>
            </div>
            <!--<div class="foot_d2_content">-->
                <!--<div class="Contact">-->
                    <!--<div class="PhoneNumber">-->

                        <!--<p>國內: <span>400-654-9200</span></p>-->
                        <!--<p>境外: <span>00852-62104572</span></p>-->
                    <!--</div>-->
                    <!--<div class="time">-->
                        <!--<p>12小時尊貴服務</p>-->
                        <!--<p class="t_text">周一至周日: 9:30-凌晨02:00</p>-->
                    <!--</div>-->
                <!--</div>-->
                <!--<div class="rightContent">-->
                    <!--<a onclick="javascript:window.open('http://wpa.b.qq.com/cgi/wpa.php?ln=1&key=XzkzODE3MTczOF8zNzU4NzBfNDAwNjU0OTIwMF8yXw', '_blank', 'height=502, width=644,toolbar=no,scrollbars=no,menubar=no,status=no');" href="javascript:void(0);">-->
                        <!--<img src="/images/headfoot/hj_public_qq.jpg" alt="" />-->
                    <!--</a>-->
                    <!--&lt;!&ndash; BEGIN ProvideSupport.com Text Chat Link Code &ndash;&gt;-->

                    <!--&lt;!&ndash; END ProvideSupport.com Text Chat Link Code &ndash;&gt;-->
                    <!--&lt;!&ndash; WPA Button Begin &ndash;&gt;-->
                    <!--&lt;!&ndash; WPA Button End &ndash;&gt;-->
                <!--</div>-->
            <!--</div>-->
        </div>
        <div class="hj_public_clearBoth"></div>
    </div>
</div>
<script>
    var _hmt = _hmt || [];
    (function() {
        var hm = document.createElement("script");
        hm.src = "https://hm.baidu.com/hm.js?7ba2becf18a46833b3c3432e1adf979a";
        var s = document.getElementsByTagName("script")[0];
        s.parentNode.insertBefore(hm, s);
    })();
</script>