<div class="hj_public_foot_d2">
            <div class="leftContent">
                <ul>
                    <li>
                        <span></span>
                        <p>十六年專業保證</p>
                    </li>
                    <li>
                        <span class="lc_span2"></span>
                        <p>千余員工傾力奉獻</p>
                    </li>
                    <li>
                        <span class="lc_span3"></span>
                        <p>絕對精准數據獲取</p>
                    </li>
                    <li>
                        <span class="lc_span4"></span>
                        <p>尊貴品牌服務</p>
                    </li>
                </ul>
                <div class="hj_public_clearBoth"></div>
            </div>
            <div class="foot_d2_content">
                <div class="Contact">
                    <div class="PhoneNumber">
                        
                        <p>國內: <span>400-654-9200</span></p>
                        <p>境外: <span>00852-62104572</span></p>
                    </div>
                    <div class="time">
                        <p>12小時尊貴服務</p>
                        <p class="t_text">周一至周日: 9:30-凌晨02:00</p>
                    </div>
                </div>
                <div class="rightContent">
                    <a onclick="javascript:window.open('http://wpa.b.qq.com/cgi/wpa.php?ln=1&key=XzkzODE3MTczOF8zNzU4NzBfNDAwNjU0OTIwMF8yXw', '_blank', 'height=502, width=644,toolbar=no,scrollbars=no,menubar=no,status=no');" href="javascript:void(0);">
                        
                        
                        <img src="./images/index/headfoot/hj_public_qq.jpg" alt="" />
                    </a>
                    <!-- BEGIN ProvideSupport.com Text Chat Link Code -->
                    
                    <!-- END ProvideSupport.com Text Chat Link Code -->
                    <!-- WPA Button Begin -->
                    <!-- WPA Button End -->
                </div>
            </div>
        </div>