<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>pk10结构预览</title>
</head>
<body>
	<!-- 文件结构 -->

index.html 			首页 <br/>

jiqiao  			技巧<br/>
&nbsp;&nbsp;pk10 				pk10技巧<br/>

pk10 				北京赛车pk10<br/>
&nbsp;&nbsp;kaijiang 			北京赛车pk10开奖<br/>
&nbsp;&nbsp;zongheluzhu  		综合路珠分析<br/>
&nbsp;&nbsp;merge				综合版面<br/>
&nbsp;&nbsp;yilou				号码遗漏统计<br/>
&nbsp;&nbsp;changlongdaystat	每日长龙统计<br/>
&nbsp;&nbsp;numpositionalarm	号码走位报警<br/>
&nbsp;&nbsp;luzhulonghu		龙虎路珠<br/>
&nbsp;&nbsp;luzhuleftorright	号码前后路珠<br/>
&nbsp;&nbsp;guanyahestat		冠、亚和路珠<br/>
&nbsp;&nbsp;&nbsp;&nbsp;1				冠亚和遗漏统计<br/>
&nbsp;&nbsp;&nbsp;&nbsp;2				冠亚和两面历史<br/>
&nbsp;&nbsp;luzhubigorsmall	单双大小路珠<br/>
&nbsp;&nbsp;numberrulestat	号码规律统计<br/>
&nbsp;&nbsp;opencodeanalysis	今日号码统计<br/>
&nbsp;&nbsp;ballstat			单双大小历史<br/>
&nbsp;&nbsp;numberstat		龍虎历史<br/>
&nbsp;&nbsp;betmode			淘宝模式（已加）<br/>
&nbsp;&nbsp;betgame			免费参考（已加）<br/>
&nbsp;&nbsp;shipin			pk10开奖直播（已加）<br/>
&nbsp;&nbsp;coldhotnumber		冷热码分析（已加）<br/>
&nbsp;&nbsp;shdd				杀号定胆（已加）<br/>
&nbsp;&nbsp;omitdata			遗漏大数据（已加）<br/>
&nbsp;&nbsp;specialformdata	特殊形态统计（已加）<br/>
&nbsp;&nbsp;twosidedstat		两面数据统计（已加）<br/>
&nbsp;&nbsp;positionanalyze	免费多选分析（已加）<br/>
&nbsp;&nbsp;zoushitu			横版走势图（已加）<br/>
&nbsp;&nbsp;nineplan			九宫计划（已加）<br/>
&nbsp;&nbsp;bsoetrend			单双大小走势图（已加）<br/>






</body>
</html>